# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
ENV/

# Output & Generated test files
outputs/
sample_test.jpg
uploads/
reports_generated/
*.pdf
forensic_backend/uploads/
forensic_backend/outputs/
forensic_backend/reports_generated/

# OS
.DS_Store
Thumbs.db
